<!DOCTYPE html>
<html>
<head>
  <title>Statapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="module" src="https://kit.fontawesome.com/9cb7282100.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="/">Data Visualizer</a>
  <div class="nav-group">
    <li class="nav-item">
      <% if current_user %>
        <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-warning", method: :delete %>
      <% end %>
    </li>
    <li class="nav-item">
      <form id="search">
        <%= form_with url: workstations_path, method: :get do |f| %>
          <div class="container-sm-9">
            <div class="col-sm-9 search">
              <%= f.label :search, "Search" %>
              <%= f.text_field :search, value: params[:search], class: "form-control me-2", placeholder: "Search" %>
              <i class="btn btn-success fa fa-search">
                <%= f.submit "Search", class: "btn btn-success fa fa-search" %>
              </i>
        <% end %>
        </div>
        </div>
      </form>
    </li>
  </div>
</nav>

<%= yield %>
</body>
</html>
